# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# A shfmt specific key
# noinspection EditorConfigKeyCorrectness
switch_case_indent = true
