[color]
	ui = auto
[color "branch"]
	current = green
    local = yellow
    remote = red
[color "status"]
	added = green
    changed = yellow
    untracked = red
[user]
	name = Matthew Compton
	email = comptonma@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	precomposeunicode = true
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[bash]
    showDirtyState = true
    showUntrackedFiles = true
[include]
    path = ~/.gitconfig-work
